<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uv.programme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/oval_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name=".HomeActivity"
            android:label="@string/home_page"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--
        <activity
            android:name=".NewHomeActivity"
            android:label="@string/home_page"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".YoutubeVideosActivity"
            android:label="Sutta Kadhais"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".CommonActivity" >
        </activity>
        <activity
            android:name=".ContestActivity"
            android:label="Contest"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="The Show"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SampleActivity"
            android:label="About The Show"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".StarsActivity"
            android:label="Today's Stars"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
